:root {
    --color-primary: #142869;
    --color-primary-rgb: 20, 40, 105;
    --color-secondary: #ff6262;
    --color-secondary-rgb: 255, 98, 98;
}

* {
    font-family: 'Quicksand', 'Arial', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body,
#app {
    overflow-x: hidden;
}
#app {
    width: 100vw;
    min-height: 100vh !important;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex-grow: 1;
}

section {
    /* min-height: 100vh; */
    margin-bottom: 4rem;
}

/* robado de otro trabajo que hice */
.btn {
    font-size: 1rem !important;
    text-decoration: none;
    font-weight: 700;
    padding: 0.25rem 2rem;
    margin: 10px 0;
    border-radius: 5px;
    transition: box-shadow 0.5s ease;
}

.btn-blue {
    color: #fff;
    background-color: var(--color-primary);
    border: solid 1px var(--color-primary) !important;
    box-shadow: 0.2rem 0.2rem 0 rgba(var(--color-secondary-rgb), 0.6);
}

.btn-red {
    color: #fff;
    background-color: var(--color-secondary);
    border: solid 1px var(--color-secondary) !important;
    box-shadow: 0.2rem 0.2rem 0 rgba(var(--color-primary-rgb), 0.6);
}

.btn-blue:hover {
    background: var(--color-primary) !important;
    color: #fff !important;
    box-shadow: 0.4rem 0.4rem 0 rgba(var(--color-secondary-rgb), 0.6);
}

.btn-red:hover {
    background: var(--color-secondary) !important;
    color: #fff !important;
    box-shadow: 0.4rem 0.4rem 0 rgba(var(--color-primary-rgb), 0.6);
}

.text-primary-ml {
    color: var(--color-primary) !important;
}

.text-secondary-ml {
    color: var(--color-secondary) !important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.sugerencias-dropdown {
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.portada {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.border-start {
    border-radius: 6px 0 0 6px;
    width: 100%;
    height: auto;
    margin: -1px;
}

/* Paginacion */
.pagination .page-item.disabled .page-link {
    pointer-events: none;
    opacity: 0.5;
}
.pagination {
    flex-wrap: wrap;
}

footer {
    background: #242424;
    color: #fff;
}

.davinci {
    padding: 0 !important;
    background-image: url('https://davinci.edu.ar/images/logo-davinci-blanco.svg');
    display: block;
    text-indent: -999em;
    overflow: hidden;
    height: 46px;
    background-size: 172px 46px;
}
